table {
    width: 100%;
}


table, td, th {
    text-align: center;
    border: solid 1px #bababa;
    border-collapse: collapse;
}


td, th {
    padding: 10px;
    font-size: 1.5rem;
}


thead tr:first-child {
    color: gray;
}


.price {
    font-size: 3rem;
    color: #fff;
}


.basico {
    background-color: rgb(98, 177, 223);
}


.padrao {
    background-color: rgb(78, 78, 180);
}


.avancado {
    background-color: rgb(165, 0, 143);
}

button {
    padding: 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: #fff;
}

button:hover {
    opacity: .8;
}